<div class="title">Khách hàng</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center">Số TT</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Địa chỉ email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Địa chỉ nơi ở</th>
            <th scope="col" colspan="2">Quyền</th>
        </tr>
    </thead>

    <tbody>
        {{#each users}}
        <tr>
            <th class="align-middle text-center" scope="row">
                {{sum @index 1 }}
            </th>
            <td class="align-middle">{{this.fullName}}</td>
            <td class="align-middle">{{this.email}}</td>
            <td class="align-middle">{{this.phone}}</td>
            <td class="align-middle">{{this.address}}</td>
            <td class="align-middle">{{this.role}}</td>
            <td class="align-middle">
                <a
                    href="/admin/{{this._id}}/orders"
                    class="btn btn-outline-info"
                    >Xem</a
                >
                <a
                    href=""
                    class="btn btn-outline-danger"
                    data-bs-toggle="modal"
                    data-bs-id="{{this._id}}"
                    data-bs-target="#delete-user-modal"
                >
                    <i class="ti-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div id="delete-user-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa user</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa user này chứ ?</p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Hủy
                </button>
                <button
                    id="btn-delete-user"
                    type="button"
                    class="btn btn-danger"
                >
                    Xóa bỏ
                </button>
            </div>
        </div>
    </div>
</div>

<form method="POST" name="delete-user-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteUserModal = document.getElementById('delete-user-modal');
        const deleteForm = document.forms['delete-user-form'];
        const btnDeleteUser = document.getElementById('btn-delete-user');

        let userID;
        if (deleteUserModal) {
            deleteUserModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget;
                userID = button.getAttribute('data-bs-id');
            });
        }

        btnDeleteUser.addEventListener('click', () => {
            deleteForm.action =
                '/admin/customers/' + userID + '?_method=DELETE';
            deleteForm.submit();
        });
    });
</script>
