<div class="title">Sản phẩm</div>

<div class="d-flex alig-item-start mb-4">
    <a href="/admin/products/create" class="btn btn-primary"
    >Thêm sản phẩm</i
></a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center">Số TT</th>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Danh mục</th>
            <th scope="col">Mô tả</th>

            <th scope="col">Giá bán-VND</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        {{#each products}}
        <tr>
            <th class="align-middle text-center" scope="row">
                {{sum @index 1 }}
            </th>
            <td
                class="align-middle"
                style="max-width: 120px; overflow-wrap: break-word"
            >
                {{this._id}}
            </td>
            <td
                class="align-middle"
                style="max-width: 100px; overflow-wrap: break-word"
            >
                {{this.productName}}
            </td>
            <td class="align-middle">
                <img
                    src="{{this.image}}"
                    style="width: 80px; height: 80px"
                    alt=""
                />
            </td>
            <td
                class="align-middle"
                style="max-width: 170px; overflow-wrap: break-word"
            >
                {{this.description}}
            </td>
            <td
                class="align-middle overflow_2"
                style="
                    max-width: 250px;
                    overflow-wrap: break-word;
                    text-transform: capitalize;
                "
            >
                Loại {{this.type}}, chất liệu {{this.material}}, màu
                {{this.color}}, dành cho {{this.gender}}, size {{this.size}}
            </td>
            <td class="align-middle">{{this.price}} VND</td>
            <td class="align-middle">
                <a
                    href="/admin/products/{{this._id}}/edit-product"
                    class="btn btn-outline-info"
                    ><i class="ti-pencil"></i
                ></a>
                <a
                    href=""
                    class="btn btn-outline-danger"
                    data-bs-toggle="modal"
                    data-bs-id="{{this._id}}"
                    data-bs-target="#delete-product-modal"
                >
                    <i class="ti-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div id="delete-product-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa product</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa sản phẩm này chứ ?</p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Hủy
                </button>
                <button
                    id="btn-delete-product"
                    type="button"
                    class="btn btn-danger"
                >
                    Xóa bỏ
                </button>
            </div>
        </div>
    </div>
</div>

<form method="post" name="delete-product-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteProductModal = document.getElementById('delete-product-modal');
        const deleteForm = document.forms['delete-product-form'];
        const btnDeleteProduct = document.getElementById('btn-delete-product');

        let productID;
        if (deleteProductModal) {
            deleteProductModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget;
                productID = button.getAttribute('data-bs-id');
            });
        }

        btnDeleteProduct.addEventListener('click', () => {
            deleteForm.action =
                '/admin/products/' + productID + '?_method=DELETE';
            deleteForm.submit();
        });
    });
</script>
